In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/housing.csv')
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

## Question 1

In [3]:
pd.__version__

'2.1.0'

## Question 2

In [4]:
len(df.columns)

10

## Question 3

missing_values = df.isnull()
missing_counts = missing_values.sum()
missing_counts[missing_counts > 0].index.tolist()

## Question 4

In [6]:
len(df.ocean_proximity.unique())

5

## Question 5

In [9]:
df.query("ocean_proximity == 'NEAR BAY'")['median_house_value'].mean()

259212.31179039303

## Question 6

In [11]:
df.total_bedrooms.mean()

537.8705525375618

In [12]:
df.total_bedrooms.fillna(df.total_bedrooms.mean()).mean()

537.8705525375617

In [13]:
df.total_bedrooms.fillna(df.total_bedrooms.mean()).mean() - df.total_bedrooms.mean()

-1.1368683772161603e-13

## Question 7

In [14]:
X = df.query("ocean_proximity == 'ISLAND'")[['housing_median_age','total_rooms','total_bedrooms']].values
X

array([[  27., 1675.,  521.],
       [  52., 2359.,  591.],
       [  52., 2127.,  512.],
       [  52.,  996.,  264.],
       [  29.,  716.,  214.]])

In [15]:
XTX = X.T @ X
XTX

array([[9.6820000e+03, 3.5105300e+05, 9.1357000e+04],
       [3.5105300e+05, 1.4399307e+07, 3.7720360e+06],
       [9.1357000e+04, 3.7720360e+06, 9.9835800e+05]])

In [17]:
XTX_INV = np.linalg.inv(XTX)
XTX_INV

array([[ 9.19403586e-04, -3.66412216e-05,  5.43072261e-05],
       [-3.66412216e-05,  8.23303633e-06, -2.77534485e-05],
       [ 5.43072261e-05, -2.77534485e-05,  1.00891325e-04]])

In [18]:
y = [950, 1300, 800, 1000, 1300]
w = (XTX_INV @ X.T) @ y
w[-1]

5.699229455065565